extends _bootstrap
append styles
	// Custom styles for this template
	link(href='../stylesheets/dashboard.css', rel='stylesheet')
block body  
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') IU-Know
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') Dashboard
					li
						a(href='http://localhost:3000/home') Home
					li
						form(method='POST', action='/logout', novalidate='novalidate')
									button#Black(style='background-color: black; border:1px solid #000000;border-radius:4px;color:#ffffff;line-height:40px;text-align:center;',type='submit' ) #{locals.logout}
	.container-fluid
		.row
			.col-sm-3.col-md-2.sidebar
				ul.nav.nav-sidebar
					li
						a(href='http://localhost:3000/admin')
							| Edit Users 
							span.sr-only (current)
					li.active
						a(href='http://localhost:3000/adminn') Upcoming Events
							span.sr-only (current)
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				h1.page-header Welcome, Admin!
				h2.sub-header Add New Events
				form(method='POST', action='/addevent', novalidate='novalidate')
					input(type='text' name='event')
					span.help-block
					button.btn.btn-success( type='submit' title='Please enter you username', placeholder='example') Add
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				h2.sub-header Delete Old Events
				.table-responsive
					table.table.table-striped
						thead
						
							tr
								th #
								th EventName
								th Delete
						tbody
						each ev, i in event
							tr 
								td= i+1
								td= ev.eventname
								td
									form(method='POST', action='/deleteevent', novalidate='novalidate')
										input(type='hidden' name='eventname' value='#{ev.eventname}') 
										button.btn.btn-danger( type='submit' ) Delete
																			