extends _bootstrap
append styles
    link(href='../stylesheets/Info.css', rel ='stylesheet')
block body
    .navbar-wrapper
                .container
                        nav.navbar.navbar-inverse.navbar-static-top
                                .container
                                        .navbar-header
                                                button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
                                                        span.sr-only Toggle navigation
                                                        span.icon-bar
                                                        span.icon-bar
                                                        span.icon-bar        											
                                                a(class="navbar-brand", href="#") IU-Know
                                        #navbar.navbar-collapse.collapse
                                                ul.nav.navbar-nav
                                                        li
                                                                a(href="http://localhost:3000/home") Home						
                                                        li
                                                                a(href="http://localhost:3000/gallery") Gallery
                                                        li
                                                                a(href="http://localhost:3000/forum") Forum
                                                        li
                                                                a(href="http://localhost:3000/contact") Contact Us
                        h1.
                                Threads
                        each thread, i in threads
                                form(method='GET', action='/comments-threads', novalidate='novalidate')
                                        br
                                        button(class='button' type='submit')=thread.threads